USE [master]
GO
/****** Object:  Database [DbCRUDWithAuth]    Script Date: 28-02-2026 19:32:11 ******/
CREATE DATABASE [DbCRUDWithAuth]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbCRUDWithAuth', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DbCRUDWithAuth.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbCRUDWithAuth_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DbCRUDWithAuth_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbCRUDWithAuth].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbCRUDWithAuth]
GO
/****** Object:  Table [dbo].[ExpenseDetails]    Script Date: 28-02-2026 19:32:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExpenseDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ExpenseGuid] [nvarchar](max) NULL,
	[ExpenseId] [nvarchar](max) NULL,
	[CategoryName] [nvarchar](max) NULL,
	[Amount] [decimal](18, 2) NULL,
	[Notes] [nvarchar](max) NULL,
	[Proof] [nvarchar](max) NULL,
	[ProofType] [nvarchar](max) NULL,
	[AddedBy] [nvarchar](max) NULL,
	[AddedOn] [datetime] NULL,
	[AddedIP] [nvarchar](max) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedIP] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NULL,
	[CollectionMax] [int] NULL,
	[CollectionMaxId] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLogin]    Script Date: 28-02-2026 19:32:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLogin](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserGuid] [nvarchar](50) NULL,
	[LoginId] [nvarchar](100) NULL,
	[Pwd] [nvarchar](max) NULL,
	[LastLoggedIn] [nvarchar](30) NULL,
	[LastLoggedIp] [nvarchar](max) NULL,
	[AddedOn] [datetime2](7) NOT NULL,
	[AddedIP] [nvarchar](max) NOT NULL,
	[ResetId] [nvarchar](50) NULL,
	[ResetOn] [nvarchar](30) NULL,
	[ResetIp] [nvarchar](50) NULL,
	[UpdatedOn] [datetime2](7) NULL,
	[UpdatedIp] [nvarchar](max) NULL,
	[Status] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersToken]    Script Date: 28-02-2026 19:32:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersToken](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserGuid] [nvarchar](max) NOT NULL,
	[Token] [nvarchar](max) NOT NULL,
	[RefreshToken] [nvarchar](max) NOT NULL,
	[TokenCreatedOn] [datetime2](7) NOT NULL,
	[TokenValidTill] [datetime2](7) NOT NULL,
	[RefreshTokenExpire] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_UsersToken] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ExpenseDetails] ON 

SET IDENTITY_INSERT [dbo].[ExpenseDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[UserLogin] ON 

INSERT [dbo].[UserLogin] ([Id], [UserGuid], [LoginId], [Pwd], [LastLoggedIn], [LastLoggedIp], [AddedOn], [AddedIP], [ResetId], [ResetOn], [ResetIp], [UpdatedOn], [UpdatedIp], [Status]) VALUES (1, N'89763757-12a4-48c7-9912-ba6a6c480905', N'user@gmail.com', N'TD3XXia10BhMMProW69jbpMZpM/3TapWMBNs7G0ge84=', N'28/01/2026 10:37:00 AM', N'01/28/2026 10:37:00 AM', CAST(N'2026-01-28T10:37:00.0000000' AS DateTime2), N'157.51.111.95', N'89763757-12a4-48c7-9912-ba6a6c480905', N'2026-01-28 10:37:00.0000000', N'157.51.111.95', CAST(N'2026-01-28T10:37:00.0000000' AS DateTime2), N'157.51.111.95', N'Active')
SET IDENTITY_INSERT [dbo].[UserLogin] OFF
GO
SET IDENTITY_INSERT [dbo].[UsersToken] ON 

SET IDENTITY_INSERT [dbo].[UsersToken] OFF
GO
/****** Object:  StoredProcedure [dbo].[GetExpenseList]    Script Date: 28-02-2026 19:32:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[GetExpenseList]
    @PageSize INT,
    @PageNo INT,
    @FromDate NVARCHAR(MAX),
    @ToDate NVARCHAR(MAX),
    @SParam NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    IF(@FromDate != '' AND @ToDate != '')
    BEGIN
        SELECT TOP (@PageSize) *
        FROM
        (
		SELECT 
                ROW_NUMBER() OVER (ORDER BY e.Id DESC) AS RowNumber,
                COUNT(e.Id) OVER() AS TotalCount,
				e.ExpenseGuid,
				e.ExpenseId,
				e.CategoryName,
				e.Amount,
				e.Notes,
				e.Proof,
				e.ProofType,
				e.AddedOn,
				e.Status
				FROM ExpenseDetails e
            WHERE e.Status != 'Deleted'
			AND (TRY_CONVERT(DATE, e.AddedOn) >= @FromDate AND TRY_CONVERT(DATE, e.AddedOn) <= @ToDate)
            AND (@SParam = '' 
                   OR e.CategoryName LIKE '%' + @SParam + '%' OR e.Notes LIKE '%' + @SParam + '%')
            
        ) AS EList
        WHERE RowNumber > ((@PageNo-1)*@PageSize) 
          AND RowNumber <= (@PageNo * @PageSize);
    END
    ELSE
    BEGIN
       SELECT TOP (@PageSize) *
        FROM
        (
		SELECT 
                ROW_NUMBER() OVER (ORDER BY e.Id DESC) AS RowNumber,
                COUNT(e.Id) OVER() AS TotalCount,
				e.ExpenseGuid,
				e.ExpenseId,
				e.CategoryName,
				e.Amount,
				e.Notes,
				e.Proof,
				e.ProofType,
				e.AddedOn,
				e.Status
				FROM ExpenseDetails e
            WHERE e.Status != 'Deleted'
            AND (@SParam = '' 
                   OR e.CategoryName LIKE '%' + @SParam + '%' OR e.Notes LIKE '%' + @SParam + '%')
            
        ) AS EList
        WHERE RowNumber > ((@PageNo-1)*@PageSize) 
          AND RowNumber <= (@PageNo * @PageSize);
    END
END
GO
USE [master]
GO
